---

version: '3.7'
services:
  mjlife_db:
    image: mysql:5.7
    container_name: mjlife_db
    hostname: {{ hostname }}
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=wordpress
      - MYSQL_USER=wordpress
      - MYSQL_PASSWORD=wordpress
    volumes:
      - mjlife_db:/var/lib/mysql
    networks:
      - mjlife
    restart: unless-stopped

  mjlife_wordpress:
    image: wordpress:latest
    container_name: mjlife_wordpress
    hostname: {{ hostname }}
    environment:
      - WORDPRESS_DB_HOST=mjlife_db:3306
      - WORDPRESS_DB_USER=wordpress
      - WORDPRESS_DB_PASSWORD=wordpress
    networks:
      - mjlife
    links:
      - mjlife_db
    ports:
      - {{ local_port }}:80
    restart: unless-stopped

volumes:
  mjlife_db:
  mjlife_wordpress:

networks:
  mjlife:

...
