---

version: '3.7'
services:
  stockholmsaltspa_db:
    image: mysql:5.7
    container_name: stockholmsaltspa_db
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=wordpress
      - MYSQL_USER=wordpress
      - MYSQL_PASSWORD=wordpress
    volumes:
      - stockholmsaltspa_db:/var/lib/mysql
    networks:
      - stockholmsaltspa
    restart: unless-stopped

  stockholmsaltspa_wordpress:
    image: wordpress:5.1.1
    container_name: stockholmsaltspa_wordpress
    environment:
      - WORDPRESS_DB_HOST=stockholmsaltspa_db:3306
      - WORDPRESS_DB_USER=wordpress
      - WORDPRESS_DB_PASSWORD=wordpress
    networks:
      - stockholmsaltspa
    links:
      - stockholmsaltspa_db
    ports:
      - {{ local_port }}:80
    restart: unless-stopped

volumes:
  stockholmsaltspa_db:

networks:
  stockholmsaltspa:

...
